/* This applies to all elements (bad practice) */
* {
	color: #5E5E5E;
	font-family: Arial, Helvetica, sans-serif;
}

/* This css centers at the middle of the screen */
#container {
	padding: 10px;
	text-shadow: 1px 1px 1px #000000;
    position: absolute;
    color: rgb(50, 50, 50);
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 45px;
	text-align: center;
	background-color: #B3B3B3;
	border: 2px solid #323232 ;
}

.small {
	font-size: 25px;
}